<div class="showtimes">
  <hr>
  <a href="/home/showtimes/book">
    <% for screening in @screenings %>
    <p class="film_title"><%=screening.show_film_title()%></p>
    <p>Start Time: <%=screening.start_time()%></p>
    <p>End Time: <%=screening.end_time()%></p>
    <p><%=screening.show_film_genre()%></p>
    <p>Price: £<%=screening.show_film_price()%></p>
    <img class="rating_logo" src="<%=screening.show_rating_logo()%>" alt="">
    <hr>
    <%end%>
  </a>
</div>
