<div class="showtimes">
<hr>
<p>BOOKING CONFIRMATION</p>
<hr>
<p>Name: <%= @customer1.full_name %></p>
<p class="film_title"><%= @film1.title %></p>
<p>Start Time: <%= @screening1.start_time %></p>
<p>End Time: <%= @screening1.end_time %></p>
<p class="film_title"><%= @screening1.show_screen_name %></p>
<p>Price: £<%= @film1.price %></p>
</div>
