<p>BOOKING CONFIRMATION</p>
<hr>
<p>Ticket Details:</p>
<p>Customer Name: <%= @customer1.full_name %></p>
<p>Film Title: <%= @film1.title %></p>
<p>Start Time: <%= @screening1.start_time %></p>
<p>End Time: <%= @screening1.end_time %></p>
<p>Screen ID: <%= @screening1.screen_id %></p>
<p>Price: £<%= @film1.price %></p>
